{% extends "base.html" %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block middle_column %}
<div class="hero-unit login-unit">
    <h1>Iniciar Sesión</h1>
    <form action="" method="post" name="login" class="form-horizontal">
        {{ form.hidden_tag() }}
        <h3>Por favor ingresa tus datos de acceso:</h3>
        <div class="control-group">
            <label class="control-label" for="email">Correo Electrónico</label>
            <div class="controls">
                {{ form.email(size=80, class_="form-control") }}
            </div>
        </div>
        {% for error in form.errors.username %}
        <span class="text-danger">[{{ error }}]</span>		<!-- mensajes en rojo para errores -->
        {% endfor %}
        <div class="control-group">		<!-- clase para estilos de bootstrap -->
            <label class="control-label" for="password">Contraseña</label>
            <div class="controls">
                {{ form.password(size=80, class_="form-control") }}
            </div>
        </div>
        {% for error in form.errors.password %}
        <span class="text-danger">[{{ error }}]</span>
        {% endfor %}
        <div class="control-group mt-3">
            <div class="controls">
                <label class="checkbox">
                    {{ form.remember_me }} Recuérdame
                </label>
                <button type="submit" class="btn btn-primary btn-large">Iniciar sesión</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
