{% extends "base.html" %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block middle_column %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="p-5 border border-2 rounded-3 shadow-lg bg-light">
                <!-- Login Header -->
                <h1 class="text-primary fw-bold mb-4 text-center">Recuperar mi contraseña</h1>
                <p class="text-muted text-center mb-4">
                    Ingresa tu correo electrónico para recibir el código para restablecer tu contraseña.
                </p>
                <!-- Login Form -->
                <form action="{{ url }}" method="POST" name="recover_user" class="form-horizontal">
                    {{ form.hidden_tag() }}
                    <!-- Email Input -->
                    <div class="mb-3">
                        <label for="email" class="form-label fw-semibold">Correo Electrónico</label>
                        {{ form.email(size=80, class_="form-control form-control-lg", placeholder="Ingresa tu correo") }}
                        {% for error in form.errors.username %}
                        <span class="text-danger small d-block mt-1">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    
                    <!-- Submit Button -->
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Iniciar Sesión
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}