{% extends "base.html" %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block middle_column %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="p-5 border border-2 rounded-3 shadow-lg bg-light">
                <h1 class="text-primary fw-bold mb-4 text-center">Cambiar contraseña</h1>
                <p class="text-muted text-center mb-4">
                    Ingresa tu nueva contraseña.
                </p>
                <form action="{{ url }}" method="POST" name="recover_user" class="form-horizontal">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <label for="plain_password" class="form-label">Nueva Contraseña</label>
                        {{ form.plain_password(class="form-control", placeholder="Ingresa una nueva contraseña") }}
                        {% if form.plain_password.errors %}
                        <div class="text-danger">{{ form.plain_password.errors[0] }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirmar Contraseña</label>
                        {{ form.confirm_password(class="form-control", placeholder="Confirma tu contraseña") }}
                        {% if form.confirm_password.errors %}
                        <div class="text-danger">{{ form.confirm_password.errors[0] }}</div>
                        {% endif %}
                    </div>
                    
                    <!-- Submit Button -->
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Iniciar Sesión
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}