{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block middle_column %}
<div class="hero-unit">
  <h1>¡Bienvenido!</h1>
  <p>Esto es Beaver Deliver. Por favor, use los botones a continuación para continuar.</p>
  <p>
    {% if authenticated %}
    <a href="{{ url_for('auth.logout') }}" class="btn btn-primary btn-large">Cerrar sesión</a>
    {% else %}
    <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-large">Iniciar sesión</a>
    {% endif %}
    <a href="{{ url_for('manage_users.manage_users') }}" class="btn btn-primary btn-large">Administrar usuarios</a>
    <a href="{{ url_for('manage_packages.manage_packages') }}" class="btn btn-primary btn-large">Administrar paquetes</a>

  </p>
</div>
{% endblock %}