{% extends "base.html" %}

{% block middle_column %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="hero-unit">
  <h1>¡Bienvenido!</h1>
  <p>Esto es Beaver Deliver. Por favor, use los botones a continuación para continuar.</p>
  <p>
    {% if authenticated %}
      <a href="{{ url_for('auth.logout') }}" class="btn btn-primary btn-large">Cerrar sesión</a>
    {% else %}
      <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-large">Iniciar sesión</a>
    {% endif %}
      <a href="{{ url_for('register_user.register_user') }}" class="btn btn-primary btn-large">Registrar usuario</a>
  </p>
</div>
{% endblock %}