{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='styles/mapstyle.css') }}" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/manage_users.css') }}">

{% endblock %}

{% block middle_column %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="hero-unit p-5 border border-2 rounded-3 shadow-lg bg-light">
                <h1 class="display-4 mb-4 text-center">Obtener la ruta</h1>
                <div id="map" style="height: 500px;"></div>
                <div id="directions-panel" style="margin-top: 10px;"></div>
                <div id="route-summary"
                    style="margin-top: 20px; background: #f9f9f9; padding: 10px; border-radius: 5px;"></div>


                <div class="table-responsive">
                    <table id="management_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Dirección</th>
                                <th>Nombre del cliente</th>
                                <th>Teléfono</th>
                                <th>Indicaciones especiales</th>
                                <th>Fecha de entrega estipulada</th>
                                <th>Última vez modificado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for package in packages_to_deliver %}
                            <tr>
                                <td>{{ package.PCK_packageId }}</td>
                                <td>{{ package.address }}</td>
                                <td>{{ package.PCK_client_name }}</td>
                                <td>{{ package.PCK_client_phone_num }}</td>
                                <td>{{ package.PCK_special_delivery_instructions }}</td>
                                <td>
                                    {% if package.PCK_delivery_date %}
                                    {{ package.PCK_delivery_date.strftime('%Y-%m-%d') }}
                                    {% else %} N / A {% endif %}
                                </td>
                                <td>{{ package.PCK_last_modified.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                <td>
                                    <button class="btn btn-warning edit-package-btn"
                                        data-id="{{ package.PCK_packageId }}">
                                        Modificar
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block modals %}

{% endblock %}
{% block scripts %}
<script>
    // Pasar `packages_to_deliver` al script JavaScript como JSON
    const uniqueAddresses = JSON.parse('{{ unique_addresses | tojson | safe }}');
    
</script>
<script src="{{ url_for('static', filename='js/maps.js') }}"></script>
{% endblock %}