<form method="POST" action="{{ url }}" id="set_package_info" class="form-horizontal">
    <div class="modal-body">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="PCK_client_name" class="form-label">Nombre del cliente</label>
            <div>
                {{ form.PCK_client_name(class="form-control") }}
            </div>
        </div>

        <div class="mb-3">
            <label for="PCK_client_phone_num" class="form-label">Teléfono</label>
            <div>
                {{ form.PCK_client_phone_num(class="form-control") }}
            </div>
        </div>

        <div class="mb-3">
            <label for="status" class="form-label">Estado</label>
            <div>
                {{ form.status(class="form-control") }}
            </div>
        </div>

        <button type="button" class="btn btn-primary" id="select-driver-btn">
            Seleccionar repartidor
        </button>

        <button type="button" class="btn btn-primary" id="select-address-btn">
            Seleccionar dirección
        </button>

        {{ form.assigned_to_user }}
        {{ form.address }}
    </div>
    <div class="modal-footer">
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>