.header {
    background-color: #b64825;
    padding: 5px;
    display: flex;
    align-items: center;
    /* Centra el contenido verticalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Agrega una sombra suave */
}

.main_area {
    background-color: #f4f0e9;
    height: 100%;
}

.logo {
    height: 80px;
    /* Ajusta el tamaño del logo */
    width: auto;
    /* Mantiene la proporción original */
}

.logo_text {
    color: antiquewhite;
    font-size: x-large;
}

.container {
    display: flex;
    justify-content: space-between; /* Para separar el contenido */
    margin: 20px;
    height: 85%;
  }

  /* Estilo del rectángulo principal (content-rectangle) */
  .content-rectangle {
    width: 70%; /* Ocupa el 70% del ancho de la pantalla */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  /* Estilo del contenedor de herramientas (action_tools) */
  .action_tools {
    width: 25%; /* Define un tamaño considerable */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
  }

  #generate-route-btn {
    width: 100%;
    background-color: #b64825; /* Orange background color */
    color: white; /* White text color */
    font-weight: bold; /* Bold text */
    border: 2px solid #943b20; /* Border with a darker orange shade */
    padding: 15px 10px; /* Padding to make the button larger */
    border-radius: 25px; /* Rounded corners */
    cursor: not-allowed; /* Disabled cursor style */
    opacity: 0.6; /* Slightly transparent when disabled */
    font-size: 20px; /* Font size */
}

#generate-route-btn:enabled {
    cursor: pointer; /* Change cursor when the button is enabled */
    opacity: 1; /* Fully opaque when enabled */
}

#generate-route-btn:hover:enabled {
    background-color: #e67e22; /* Darker orange on hover when enabled */
    border-color: #e74c3c; /* Change border color on hover */
}