{% extends "base.html" %}

{% block head %}
{{ super() }}
<!-- Add DataTables CSS in the head section -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
{% endblock %}

{% block middle_column %}
<h1>Administrar Usuarios</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" id="add-user-btn">
    Registrar nuevo usuario
</button>

<table id="manage_users_table" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre(s)</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Estatus</th>
            <th>Permisos</th>
            <th>Última vez modificado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.USR_userId }}</td>
            <td>{{ user.USR_name }}</td>
            <td>{{ user.USR_last_name }}</td>
            <td>{{ user.USR_email }}</td>
            <td>{{ user.USR_telephone }}</td>
            <td>{{ user.status.ST_value }}</td>
            <td>{{ user.permit.PMT_type }}</td>
            <td>{{ user.USR_last_modified.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td>
                <button class="btn btn-primary edit-user-btn" data-id="{{ user.USR_userId }}">Editar</button>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="9">No se encontraron registros.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block modals %}
<div id="editUserModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Editar usuario"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="editUserModalLabel">Editar usuario</h5>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div id="addUserModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Agregar usuario"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="addUserModalLabel">Agregar usuario</h5>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block scripts %}
<!-- Add jQuery and DataTables JS in the scripts block -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="{{ url_for('static', filename='js/manage_users.js') }}"></script>

{% endblock %}