<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Application{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    {% block head %}
    {% endblock %}


</head>


<body>
    {% block navbar %}
    {% if request.endpoint != 'home.home' %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Beaver Deliver</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Iniciar sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
    {% endblock %}


    {% block page_header %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2"></div>
            <div class="span5">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="span4"></div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- Columna izquierda -->
            <div class="span2">
                {% block left_column %}{% endblock %}
            </div>
            <!-- Columna central -->
            <div class="span5">
                {% block middle_column %}{% endblock %}
            </div>
            <!-- Columna derecha -->
            <div class="span4">
                {% block right_column %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}

    {% block page_footer %}
    <!-- Footer content here -->
    {% endblock %}

    <!-- Block for modals -->
    {% block modals %}{% endblock %}

    {% block scripts %}{% endblock %} <!-- Block for custom scripts -->
</body>

</html>